# Device configuration
[FEED1]
socket=/tmp/api_sock1

# SWI-Refs: (routing events, and sending operates)
#REf : IO-index
FEED1LD1/XCBR1 = 10
FEED1LD1/XSWI2 = 0
FEED1LD1/XSWI3 = 2
FEED1LD1/XSWI4 = 3

# TR-refs: (subscribe to transformer-data)
# Ref : DATA-index
FEED1LD1/TCTR1 = 0 # generate sine-0, based on index1
FEED1LD1/TCTR2 = 1 # generate sine-90, based on index2
FEED1LD1/TCTR3 = 2 # generate sine-180, based on index3

FEED1LD1/B1TVTR1 = 12 # generate sine-0, based on index1
FEED1LD1/B1TVTR2 = 13 # generate sine-90, based on index2
FEED1LD1/B1TVTR3 = 14 # generate sine-180, based on index3

FEED1LD1/B2TVTR1 = 15 # generate sine-0, based on index1
FEED1LD1/B2TVTR2 = 16 # generate sine-90, based on index2
FEED1LD1/B2TVTR3 = 17 # generate sine-180, based on index3


[FEED2]
socket=/tmp/api_sock2

# SWI-Refs: (routing events, and sending operates)
FEED2LD1/XCBR1 = 11
FEED2LD1/XSWI2 = 1 
FEED2LD1/XSWI3 = 4
FEED2LD1/XSWI4 = 5

# TR2refs: (subscribe to transformer-data)
FEED2LD1/TCTR1 = 3 # generate sine-0, based on index1
FEED2LD1/TCTR2 = 4 # generate sine-90, based on index2
FEED2LD1/TCTR3 = 5 # generate sine-180, based on index3

FEED2LD1/B1TVTR1 = 12 # generate sine-0, based on index1
FEED2LD1/B1TVTR2 = 13 # generate sine-90, based on index2
FEED2LD1/B1TVTR3 = 14 # generate sine-180, based on index3

FEED2LD1/B2TVTR1 = 15 # generate sine-0, based on index1
FEED2LD1/B2TVTR2 = 16 # generate sine-90, based on index2
FEED2LD1/B2TVTR3 = 17 # generate sine-180, based on index3


[BUS1]
socket=/tmp/api_sock3

BUS1LD1/F1TCTR1 = 0 # generate sine-0, based on index1
BUS1LD1/F1TCTR2 = 1 # generate sine-90, based on index2
BUS1LD1/F1TCTR3 = 2 # generate sine-180, based on index3

BUS1LD1/F2TCTR1 = 3 # generate sine-0, based on index1
BUS1LD1/F2TCTR2 = 4 # generate sine-90, based on index2
BUS1LD1/F2TCTR3 = 5 # generate sine-180, based on index3

BUS1LD1/TR1TCTR1 = 6 # generate sine-0, based on index1
BUS1LD1/TR1TCTR2 = 7 # generate sine-90, based on index2
BUS1LD1/TR1TCTR3 = 8 # generate sine-180, based on index3

BUS1LD1/TR2TCTR1 = 9 # generate sine-0, based on index1
BUS1LD1/TR2TCTR2 = 10 # generate sine-90, based on index2
BUS1LD1/TR2TCTR3 = 11 # generate sine-180, based on index3

BUS1LD1/B1TVTR1 = 12 # generate sine-0, based on index1
BUS1LD1/B1TVTR2 = 13 # generate sine-90, based on index2
BUS1LD1/B1TVTR3 = 14 # generate sine-180, based on index3


[BUS2]
socket=/tmp/api_sock4

BUS2LD1/F1TCTR1 = 0 # generate sine-0, based on index1
BUS2LD1/F1TCTR2 = 1 # generate sine-90, based on index2
BUS2LD1/F1TCTR3 = 2 # generate sine-180, based on index3

BUS2LD1/F2TCTR1 = 3 # generate sine-0, based on index1
BUS2LD1/F2TCTR2 = 4 # generate sine-90, based on index2
BUS2LD1/F2TCTR3 = 5 # generate sine-180, based on index3

BUS2LD1/TR1TCTR1 = 6 # generate sine-0, based on index1
BUS2LD1/TR1TCTR2 = 7 # generate sine-90, based on index2
BUS2LD1/TR1TCTR3 = 8 # generate sine-180, based on index3

BUS2LD1/TR2TCTR1 = 9 # generate sine-0, based on index1
BUS2LD1/TR2TCTR2 = 10 # generate sine-90, based on index2
BUS2LD1/TR2TCTR3 = 11 # generate sine-180, based on index3

BUS2LD1/B2TVTR1 = 15 # generate sine-0, based on index1
BUS2LD1/B2TVTR2 = 16 # generate sine-90, based on index2
BUS2LD1/B2TVTR3 = 17 # generate sine-180, based on index3


[TR1]
socket=/tmp/api_sock5

# SWI-Refs: (routing events, and sending operates)
#REf : IO-index
TR1LD1/XCBR1 = 12
TR1LD1/XSWI2 = 6
TR1LD1/XSWI3 = 7

# TR-refs: (subscribe to transformer-data)
# Ref : DATA-index
TR1LD1/TCTR1 = 6 # generate sine-0, based on index1
TR1LD1/TCTR2 = 7 # generate sine-90, based on index2
TR1LD1/TCTR3 = 8 # generate sine-180, based on index3

TR1LD1/B1TVTR1 = 12 # generate sine-0, based on index1
TR1LD1/B1TVTR2 = 13 # generate sine-90, based on index2
TR1LD1/B1TVTR3 = 14 # generate sine-180, based on index3TR

TR1LD1/B2TVTR1 = 15 # generate sine-0, based on index1
TR1LD1/B2TVTR2 = 16 # generate sine-90, based on index2
TR1LD1/B2TVTR3 = 17 # generate sine-180, based on index3

[TR2]
socket=/tmp/api_sock6

# SWI-Refs: (routing events, and sending operates)
#REf : IO-index
TR2LD1/XCBR1 = 13
TR2LD1/XSWI2 = 8
TR2LD1/XSWI3 = 9

# TR-refs: (subscribe to transformer-data)
# Ref : DATA-index
TR2LD1/TCTR1 = 9 # generate sine-0, based on index1
TR2LD1/TCTR2 = 10 # generate sine-90, based on index2
TR2LD1/TCTR3 = 11 # generate sine-180, based on index3

TR2LD1/B1TVTR1 = 12 # generate sine-0, based on index1
TR2LD1/B1TVTR2 = 13 # generate sine-90, based on index2
TR2LD1/B1TVTR3 = 14 # generate sine-180, based on index3

TR2LD1/B2TVTR1 = 15 # generate sine-0, based on index1
TR2LD1/B2TVTR2 = 16 # generate sine-90, based on index2
TR2LD1/B2TVTR3 = 17 # generate sine-180, based on index3
