# Device configuration
[FEED1] # first ied
socket=/tmp/iec61850_relay_1.sock
# Controllable objects
cbr1                = FEED1LD1/XCBR1
swi2                = FEED1LD1/XSWI2
swi3                = FEED1LD1/XSWI3
swi4                = FEED1LD1/XSWI4

# Measurements
ctr1                = FEED1LD1/MMXU1
vtr1                = FEED1LD1/MMXU2
vtr2                = FEED1LD1/MMXU3

# Settings
loc                = FEED1LD1/LLN0
s_Ilarge             = FEED1LD1/PTOC1, StrVal.setMag.f
s_Tm                 = FEED1LD1/PTOC1, TmMult.setMag.f 
s_swi2_blkopn        = FEED1LD1/XSWI2, BlkOpn.stVal
s_swi2_blkcls        = FEED1LD1/XSWI2, BlkCls.stVal
m_ctr1_phsA       = FEED1LD1/MMXU1, A.phsA.cVal.mag.f
m_ctr1_phsB       = FEED1LD1/MMXU1, A.phsB.cVal.mag.f
m_ctr1_phsC       = FEED1LD1/MMXU1, A.phsC.cVal.mag.f
m_ctr1_phsAngA    = FEED1LD1/MMXU1, A.phsA.cVal.ang.f
m_ctr1_phsAngB    = FEED1LD1/MMXU1, A.phsB.cVal.ang.f
m_ctr1_phsAngC    = FEED1LD1/MMXU1, A.phsC.cVal.ang.f

m_v1_pA         = FEED1LD1/MMXU2, PhV.phsA.cVal.mag.f
m_v1_pB         = FEED1LD1/MMXU2, PhV.phsB.cVal.mag.f
m_v1_pC         = FEED1LD1/MMXU2, PhV.phsC.cVal.mag.f
m_v1_aA         = FEED1LD1/MMXU2, PhV.phsA.cVal.ang.f
m_v1_aB         = FEED1LD1/MMXU2, PhV.phsB.cVal.ang.f
m_v1_aC         = FEED1LD1/MMXU2, PhV.phsC.cVal.ang.f

m_v2_pA         = FEED1LD1/MMXU3, PhV.phsA.cVal.mag.f
m_v2_pB         = FEED1LD1/MMXU3, PhV.phsB.cVal.mag.f
m_v2_pC         = FEED1LD1/MMXU3, PhV.phsC.cVal.mag.f
m_v2_aA         = FEED1LD1/MMXU3, PhV.phsA.cVal.ang.f
m_v2_aB         = FEED1LD1/MMXU3, PhV.phsB.cVal.ang.f
m_v2_aC         = FEED1LD1/MMXU3, PhV.phsC.cVal.ang.f

[FEED2] # second ied
socket=/tmp/iec61850_relay_2.sock
# Controllable objects
cbr1                = FEED2LD1/XCBR1
swi2                = FEED2LD1/XSWI2
swi3                = FEED2LD1/XSWI3
swi4                = FEED2LD1/XSWI4

# Measurements
ctr1                = FEED2LD1/MMXU1
vtr1                = FEED2LD1/MMXU2
vtr2                = FEED2LD1/MMXU3

# Settings
loc            = FEED2LD1/LLN0
s_Ilarge         = FEED2LD1/PTOC1, StrVal.setMag.f
s_Tm             = FEED2LD1/PTOC1, TmMult.setMag.f 


[BUS1] # third ied
socket=/tmp/iec61850_relay_3.sock
# Measurements
ctr1                = BUS1LD1/MMXU1
ctr2                = BUS1LD1/MMXU2
ctr3                = BUS1LD1/MMXU3
ctr4                = BUS1LD1/MMXU4
vtr1                = BUS1LD1/MMXU5

# Settings
loc               = BUS1LD1/LLN0

[BUS2] # fourth ied
socket=/tmp/iec61850_relay_4.sock
# Measurements
ctr1                = BUS2LD1/MMXU1
ctr2                = BUS2LD1/MMXU2
ctr3                = BUS2LD1/MMXU3
ctr4                = BUS2LD1/MMXU4
vtr1                = BUS2LD1/MMXU5


# Settings
loc               = BUS2LD1/LLN0


[TR1] # fifth ied
socket=/tmp/iec61850_relay_5.sock
# Controllable objects
cbr1                = TR1LD1/XCBR1
swi2                = TR1LD1/XSWI2
swi3                = TR1LD1/XSWI3

# Measurements
ctr1                = TR1LD1/MMXU1
vtr1                = TR1LD1/MMXU2
vtr2                = TR1LD1/MMXU3

# Settings
loc                 = TR1LD1/LLN0
s_Ilarge            = TR1LD1/PTOC1, StrVal.setMag.f
s_Tm                = TR1LD1/PTOC1, TmMult.setMag.f 

[TR2] # sixth ied
socket=/tmp/iec61850_relay_6.sock
# Controllable objects
cbr1                = TR2LD1/XCBR1
swi2                = TR2LD1/XSWI2
swi3                = TR2LD1/XSWI3

# Measurements
ctr1                = TR2LD1/MMXU1
vtr1                = TR2LD1/MMXU2
vtr2                = TR2LD1/MMXU3

# Settings
loc                 = TR2LD1/LLN0
s_Ilarge            = TR2LD1/PTOC1, StrVal.setMag.f
s_Tm                = TR2LD1/PTOC1, TmMult.setMag.f 