# Device configuration
[FEED1] # first ied
socket=/tmp/iec61850_relay_1.sock
# Controllable objects
cbr1                = FEED1LD1/XCBR1
swi2                = FEED1LD1/XSWI2
swi3                = FEED1LD1/XSWI3
swi4                = FEED1LD1/XSWI4

# Measurements
ctr1                = FEED1LD1/MMXU1
vtr1                = FEED1LD1/MMXU2
vtr2                = FEED1LD1/MMXU3

# Settings
set0_loc            = FEED1LD1/LLN0, Beh.stVal
set1_Ilarge         = FEED1LD1/PTOC1, StrVal.setMag.f
set2_Tm             = FEED1LD1/PTOC1, TmMult.setMag.f 
set_swi2_blkopn     = FEED1LD1/XSWI2, BlkOpn.stVal
set_swi2_blkcls     = FEED1LD1/XSWI2, BlkCls.stVal
# set_ctr1_phsA       = FEED1LD1/MMXU1, A.phsA.cVal.mag.f
# set_ctr1_phsB       = FEED1LD1/MMXU1, A.phsB.cVal.mag.f
# set_ctr1_phsC       = FEED1LD1/MMXU1, A.phsC.cVal.mag.f
# set_ctr1_phsAngA    = FEED1LD1/MMXU1, A.phsA.cVal.ang.f
# set_ctr1_phsAngB    = FEED1LD1/MMXU1, A.phsB.cVal.ang.f
# set_ctr1_phsAngC    = FEED1LD1/MMXU1, A.phsC.cVal.ang.f

[FEED2] # second ied
socket=/tmp/iec61850_relay_2.sock
# Controllable objects
swi1                = FEED2LD1/XSWI1
cbr1                = FEED2LD1/XCBR1
swi2                = FEED2LD1/XSWI3
swi3                = FEED2LD1/XSWI4

# Measurements
ctr1                = FEED2LD1/MMXU1
vtr1                = FEED2LD1/MMXU2
vtr2                = FEED2LD1/MMXU3

# Settings
set0_loc            = FEED2LD1/LLN0, Beh.stVal
set1_Ilarge         = FEED2LD1/PTOC1, StrVal.setMag.f
set2_Tm             = FEED2LD1/PTOC1, TmMult.setMag.f 

